@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>More information. Para mais informações: <a href="julianoteodoro2002@gmail.com">Julianoteodoro2002@gmail.com</a></p>
